<!--The content below is only a placeholder and can be replaced.-->

<style> 
    .newspaper {
      column-count: 3;
     
    }


    * {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 10px;
 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
 
</style>

  <h2>Product List </h2>
  <br/>
  <br/>

 <form [formGroup]="ddlProductForm" (ngSubmit)="onSubmit()">

    <select formControlName="name">
      <option disabled>Select Product</option>
     
      <option *ngFor="let item of ddlProducts">{{item}}</option>
    </select>
  
    <button>Submit</button>
    
 
  </form>
<hr/>

<div class="row" id="divBooks" *ngIf="this.selectedValue === this.ddlProducts[1]" >
    <div class="column" *ngFor="let book of Data.Books">
        <a href={{book.imageUrl}}>
            <img src={{book.imageUrl}} alt={{book.name}}>
        </a>
        
        <p style="text-align:center">{{book.name}}</p>
        <p  style="text-align:center">{{book.price}}</p>
      </div>

</div>

<div class="row" id="divFoods" *ngIf="this.selectedValue === this.ddlProducts[0]" >
    <div class="column" *ngFor="let food of Data.Foods">
        <a href={{food.imageUrl}}>
            <img src={{food.imageUrl}} alt={{food.name}}>
        </a>
        
        <p style="text-align:center">{{food.name}}</p>
        <p  style="text-align:center">{{food.price}}</p>
      </div>

</div>

  
   
 

  
  
  